@page "/"

<h1>Trabalho de Inteligência Artificial</h1>

<SurveyPrompt Title="Objetivo" />

<p class="ml-2">
    Trabalho feito pelos alunos: <strong>Lucas Corsi</strong> e <strong>Guilherme Paitax</strong>.
</p>